.footer-container{
	min-height: 10vw;
	width: 100%;
	background-color: #262626;
	margin-top: 3vw;
}

.footer-block{
	display: flex;
	flex-direction: column;
	
	font-size: 1vw;
	margin-top: 1vw;
}

#footer-links{
	float: left;
	padding-bottom: 2vw;
	padding-left: 20vw;
	column-gap: 1vw;
}

#footer-contact{
	position: relative;
	float: right;
	padding-right: 20vw;
	column-gap: 1vw;
}

.footer-block p{
	color: grey;
	font-size: 1vw;
	padding-top:-1vw;
}

.footer-block a{
	padding-bottom: 2vw;
}